* {
    margin: 0px;
}

body {
    background-color: lightblue;
}

#nav {
    background-color: red;
    display: flex;
    flex-direction: row;
}

.nav-item {
    background-color: white;
    display: block;
    padding: 10px;
}

.nav-item:hover {
    background-color: lightgray;
    cursor: pointer;
}